<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }

  #playaway {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #playaway:hover {
    background-color: #cc0000;
  }
</style>
</head>

<body>
  <button id="playaway">Go Back</button>

  <script>
    document.getElementById('playaway').addEventListener('click', function () {
      window.location.href = 'https://20d887d3-bff8-4673-ad26-3ba0faf01429.id.firewalledreplit.co';
    });
  </script>